<section style="padding: 10px;" class="pull-left col-lg-3">
  <%= link_to "Update Agents", update_agents_url, remote: true %>
</section>

<section style="padding: 10px;" class="pull-left col-lg-3">
  <%= link_to "Update Tickets", update_tickets_url, remote: true %>
</section>

<section style="padding: 10px;" class="pull-left col-lg-3">
  <%= link_to "Update All Tickets", update_all_tickets_url, remote: true %>
</section>

<section style="padding: 10px;" class="pull-left col-lg-3">
  <%= link_to "Update Organizations", update_organizations_url, remote: true %>
</section>