<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
  <%= form_for :user, url: settings_update_password_url, html: { method: :post, class: "smart-form client-form" }, builder: LabeledFormBuilder do |f| %>
    <header>
      Change your password
    </header>
    <fieldset>
      <section>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "input", "icon-class" => "icon-append fa fa-unlock-alt", message: " Please enter new password" %>
      </section>
      <section>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "input", "icon-class" => "icon-append fa fa-unlock-alt", message: " Please confirm password" %>
      </section>
    </fieldset>
    <footer>
      <button type="submit" class="btn btn-primary">
        Change my password
      </button>
    </footer>
  <% end %>
</article>