<div id="failure" class="alert alert-danger fade in hidden">
  <button class="close" data-dismiss="alert">
    ×
  </button>
  <i class="fa-fw fa fa-times"></i>
  <strong>Error!</strong> The agents failed to updated.
</div>
<div id="success" class="alert alert-success fade in hidden">
  <button class="close" data-dismiss="alert">
    ×
  </button>
  <i class="fa-fw fa fa-check"></i>
  <strong>Success</strong> The agents have been updated.
</div>