<% if user_signed_in? %>
<!-- PAGE FOOTER -->
<div class="page-footer">
  <div class="row">
    <div class="col-xs-12">
      <span class="txt-color-white">AppDynamics International © 2016</span>
    </div>
  </div>
</div>
<% end %>
<!-- END PAGE FOOTER -->
<!--================================================== -->


<script type="text/javascript">
// DO NOT REMOVE : GLOBAL FUNCTIONS!
$(document).ready(function() {
  pageSetUp();
})
</script>
